// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$snow: #FFFDF6;
$light-yellow: #FAF6E9;
$light-green: #DEEA9D;
$sage-green: #A0C878;
$forest: #396150;
$light-blue: #99C4F9;
$bordeaux: #7B0928;
$light-pink: #F9E7E7;


