.confirmed-events {
  margin-top: 32px;
  padding: 32px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

  .input-group {
    margin-top: 48px;
  }


  .events-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .event-card {
    background: white;
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    .card-title {
      font-size: 20px;
      font-weight: bold;
    }

    .card-text {
      font-size: 16px;
    }
  }

  .attendances-bottom {
    padding: 48px 0 48px 0;
  }
}
