<% uid = local_assigns[:current_user_id] %>
<% is_sent = uid.present? && message.user_id == uid %>

<div class="message-wrapper <%= is_sent ? "sent" : "received" %>">
  <div class="message-bubble">
    <div class="username"><%= message.user.username %></div>
    <div class="message-content"><%= message.content %></div>
    <div class="timestamp"><%= message.created_at.strftime("%d %b - %H:%M") %></div>
  </div>
</div>
