<div class="container home-hero">
  <div class="logo">
    <h1 id="logo">Torcida +</h1>
  </div>
  <div class="copy">
    <h3>Com o Torcida+, ninguém mais assiste futebol sozinho.</h3>
  </div>
  <div class="actions">
    <a class="btn-primary" href="#" role="button">Sign up</a>
    <a class="btn-primary" href="#" role="button">Log in</a>
  </div>
</div>
