<div class="container home-hero">
  <div class="logo">
    <h1 id="logo">Torcida +</h1>
  </div>
  <div class="copy">
    <h3>Com o Torcida+, ninguém assiste futebol sozinho.</h3>
  </div>
  <div class="actions">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
