<h1>Matches:</h1>


<%@matches.each do |match|%>
<%my_event_datetime = match.played_at %>
<%date = my_event_datetime.strftime("%d/%m/%Y")%>
<%time = my_event_datetime.strftime("%H:%M")%>
<hr>
<p>Match: <%= match.title %></p>
<p>Date: <%= date %></p>
<p>Time: <%= time %></p>
<%end%>
