.btn-primary {
  cursor: pointer;
  display: block;
  padding: 14px 24px;
  border-radius: 9999px;
  background: #386150;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  transition: transform 0.3s ease-in-out;
  font-family: $body-font;
}

.btn-primary:hover {
  background-color: #386150;
  transform: scale(1.01);
}

 .btn-secondary {
  display: inline-block;
  padding: 16px 28px;
  border-radius: 9999px;
  background: #386150;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

.btn-login{
  display: inline-block;
  padding: 12px 20px;
  border-radius: 9999px;
  background: #ffffff;
  color: #386150;
  font-weight: 700;
  text-align: center;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  transition: all .15s ease;

  &:hover {
    background: #f5f5f5;
    transform: translateY(-1px);
  }

  &:active {
    background: #e5e5e5;
    transform: translateY(0);
  }
}

.btn-outline-danger:hover {
  color: white;
}
