.navbar-lewagon {
  justify-content: space-between;
  background: $forest;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.snow {
  color: $snow;
}
.dropdown-item.logout-strong {
  font-weight: 700;
  color: #b02a37;
}
.dropdown-item.logout-strong:hover {
  background-color: rgba(77, 74, 75, 0.1);
  color: #a00;
}

.nav-item:hover {
  background-color: white;
  border-radius: 10px;
}

.nav-link:hover {
  color: $forest;
}

#photo:hover {
  border: none;
  background-color: $forest;
}

.dropdown-toggle.snow[aria-expanded=true] {
  color: $forest;
  background-color: white;
}

.dropdown-toggle.snow {
  border-radius: 10px;
}

.dropdown-menu {
  border-radius: 10px;
  border: 2px solid $forest;
  background-color: white;
}

.dropdown-divider {
  border: 1px solid $forest;
}

.nav-link.dropdown-item {
  background-color: white;
  color: $forest;
}

.nav-link.dropdown-item:hover {
  transition: 0.4s ease;
  font-weight: bolder;
}

.dropdown-item {
  color: $forest;
}

.dropdown-item:hover {
  transition: 0.4s ease;
  font-weight: bolder;
  color: $forest;
  background-color: white;
}

.dropdown-item.logout-strong:hover {
  background-color: white;
  font-weight: bolder;
}
